/build/
/.kotlin/
/.gradle/
/.idea/
/composeApp/.gradle/
/composeApp/build/
/iosApp/iosApp.xcodeproj/project.xcworkspace/xcuserdata/cengcanxiang.xcuserdatad/UserInterfaceState.xcuserstate
/iosApp/iosApp.xcodeproj/xcuserdata/cengcanxiang.xcuserdatad/xcschemes/xcschememanagement.plist
